.todoItem {
    background-color: #fffaf6;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.3);
    border-radius: 10px;
  }
  
  .todoItem-p {
    margin: 54px 0 4px 54px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    display: block;
    padding: 12px;
    }
  .todoItem-p--complete {
    text-decoration-line: line-through;
  }

  .info {
    font-size: 12px;
    justify-items:right;
    align-items:end;
    display: block;
    margin: 0px 54px 24px 54px;
  }

  strong {
    color: #005350;
    
  }

  
  
  