.todoItem {
    background-color: #fffaf6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  }
  
  .todoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    overflow: hidden;
    }
  .todoItem-p--complete {
    text-decoration: line-through;
  }
  