.createTodoButton {
    background-color: hotpink;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 44px;
    right: 34px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    margin-bottom: 5%;
    margin-right: 5%;
    transform: rotate(0);
    transition: .3s ease;
    z-index: 1;
    
  }
  
  .createTodoButton:hover {
    transform: rotate(224deg);
  }

  @media only screen and (min-width: 850px) {
    .createTodoButton {
      height: 94px;
      width: 94px;
      left: 54px;
      bottom: 44px;
    
    }
  }