.todoSearch {
    background: #F9FBFC;
    border-radius: 2px;
    border: 2px solid #89b4ad;
    margin: 0 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.3);
    border-radius: 10px;
  }
  
  .todoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .todoSearch:focus {
    outline-color: #61DAFA;
  }

  .todoSearch:disabled {
    opacity: 45%;
  }