body {
  min-width: 390px;
  margin: 0; 
  padding: 0;
  padding-top: 100px;
  background: #cae8d0;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/655/529/small_2x/minimal-work-space-creative-flat-lay-of-workspace-desk-top-view-office-desk-with-keyboard-mouse-and-notebook-on-pastel-green-color-background-top-view-with-copy-space-flat-laygraphy-photo.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: #005350;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

@media only screen and (min-width: 600px) {
  body {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
  }
}