.TodoCounter {
    font-size: 28px;
    text-align: center;
    margin: 0;
    padding: 48px;
    color: #262d13;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.TodoCounter--loading {
    opacity: 45%;
}